DJANGO_DEBUG=1
DJANGO_SECRET_KEY=change_me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,django

PG_DB_NAME=postgres
PG_USER=postgres
PG_PASSWORD=
PG_HOST=pgdb
PG_PORT=5432

REDIS_HOST=redis

TG_BOT_TOKEN=change_me_or_not

EMAIL_HOST_USER=example@test.com
EMAIL_HOST_PASSWORD=password