{% extends "base.html" %}
{% load crispy_forms_tags %}

 {% block title %}Создние событие{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <hr class="mt-0 mb-4">
      <h1 class="my-4">Создание событие</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Создать</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
