<div class="card h-100 d-flex flex-column">
  {% if event.category %}
    <div class="card-header"><span class="badge bg-primary">{{ event.category }}</span></div>
  {% endif %}
  <div class="card-body d-flex flex-column">
    <div class="d-flex align-items-center">
      <h5 class="card-title">{{ event.title }}</h5>
      <a href="{% url "events:detail" pk=event.id %}" class="icon-link"><svg class="bi"><use xlink:href="#chevron-right"/></svg></a>
    </div>
    
    <div class="card-text">
      <p>{{ event.description|truncatechars:100 }}</p>
      <p>Дата: {{ event.end }}</p>
    </div>
    <p>Автор: <a href="{% url "profiles:detail" pk=event.author.id %}">{% if request.user.username == event.author.username %}Вы{% else %}{{ event.author.username }}{% endif %}</a></p>
    <p>{{ event.part_count }}{% if event.max_participants %}/{{ event.max_participants }}{% endif %} участников</p>
    {% if request.user.is_authenticated %}
      {% if request.user == event.author %}
        <a href="{% url "events:update" pk=event.id %}" class="icon-link">
          Редактировать
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>
