{% load static %}

<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img class="bi me-2" width="50" height="50" src="{% static 'img/gamepad.png' %}" alt="logo">
        <span class="fs-2">RollCall</span>
      </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a class="nav-link px-2 {% if view_name == 'homepage:home' %}link-secondary{% endif %}" href="{% url "homepage:home" %}">Главная</a></li>
      <li><a class="nav-link px-2 {% if view_name == 'events:list' %}link-secondary{% endif %}" href="{% url "events:list" %}">Список событий</a></li>
      {% if request.user.is_authenticated %}
        <li><a class="nav-link px-2 {% if view_name == 'events:create' %}link-secondary{% endif %}" href="{% url 'events:create' %}">Создать событие</a></li>
      {% endif %}
      {% if request.user.is_staff %}
        <li><a class="nav-link px-2" href="{% url "admin:index" %}" target="_blank">Админка</a></li>
      {% endif %}
    </ul>
    <div class="col-md-3 text-end">
      {% if request.user.is_authenticated %}
        <a href="{% url "users:logout" %}" class="btn btn-outline-primary me-2">Logout</a>
      {% else %}
        <a href="{% url "users:login" %}" class="btn btn-outline-primary me-2">Login</a>
        <a href="{% url "users:signup" %}" class="btn btn-primary">Sign-up</a>
      {% endif %}
    </div>
  </header>
</div>