{% load static %}

<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
    <div class="d-flex align-items-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Меню
        </button>
        <ul class="dropdown-menu text-small shadow">
          {% with request.resolver_match.view_name as view_name %}
            {% if request.user.is_staff %}
              <li><a class="dropdown-item" href="{% url "admin:index" %}" target="_blank">Админка</a></li>
            {% endif %}
            <li><a class="dropdown-item {% if view_name == 'homepage:home' %}active{% endif %}" href="{% url 'homepage:home' %}">Главная</a></li>
            {% if request.user.is_authenticated %}
              <li><hr class="dropdown-divider"></li>
            {% endif %}
          {% endwith %}
        </ul>
      </div>
      <a href="{% url "homepage:home" %}" class="d-flex align-items-center ms-3 text-dark text-decoration-none">
          <img class="bi me-2" width="40" height="32" src="{% static 'img/calendar3.svg' %}" alt="logo">
          <span class="fs-4">RollCall</span>
      </a>
    </div>
    <div class="col-md-3 text-end">
      {% if request.user.is_authenticated %}
        <a href="{% url "users:logout" %}" class="btn btn-outline-primary me-2">Logout</a>
      {% else %}
        <a href="{% url "users:login" %}" class="btn btn-outline-primary me-2">Login</a>
        <a href="{% url "users:signup" %}" class="btn btn-primary">Sign-up</a>
      {% endif %}
    </div>
  </header>
</div>