{% extends "base.html" %}
{% load crispy_forms_tags %}

 {% block title %}Редактирование {{ user.username }}{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <hr class="mt-0 mb-4">
      <h1 class="my-4">Редактирование {{ user.username }}</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row">
          <div class="col-3">
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
          <div class="col">
            <a class="btn btn-link"href="{% url "users:password_change" %}">Сменить пароль</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
