{% extends "base.html" %}
{% load crispy_forms_tags %}

 {% block title %}Вход{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <hr class="mt-0 mb-4">
            <h1 class="my-4">Вход</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <p><a href="{% url "users:password_reset" %}">Забыли пароль?</a></p>
                <button type="submit" class="btn btn-primary">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

